.container{
    width: 60%;
    margin: 30px auto;
}

/*チャットの表示領域はスクロール可能にする*/
.chat_area{
    height: 80vh;
    background: #99ccff;
    overflow: scroll;
}
.massage_area{
    display: flex;
    justify-content: space-between;  
    

}
.massage_area_text textarea {
    width: 100%; 
    display: inline-block;
    height: 100%;
    padding: 14px 6px 0px 6px;
    text-align: left;
    resize: none;
    border: 1px solid #ccc;
    text-align: left;/*文字を左寄せ*/
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;/*内側に影を入れてテキストエリアらしくした*/
    box-sizing: border-box;/*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/

}

   .message_area_button button {
    width: 100%;
    margin-left: 10px;
    height: 100%;
    background: #61E739;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    float: right;
    border: 0;
    text-align: center;
    box-sizing: border-box;
   }